@{
        ViewBag.Title = "FileUpload";
    }

<div style="background-color:aliceblue">
    &nbsp;&nbsp;&nbsp;
    <b>USER_NAME:</b>&nbsp;&nbsp;&nbsp;&nbsp;@Session["UserName"]
    <br />
    <br />
    &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("LOGOUT", "LogOut", "Admin")
    <br />
    &nbsp;&nbsp;&nbsp;
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<script>
    $(function () {
        $('#btnUpload').click(function () {
            alert("sagar");

            if ($("#fileID").val() == '') {
                alert('Please select a file.');
                return false;
            }

            var formData = new FormData();
            var file = document.getElementById("fileID").files[0];
            formData.append("MyFile", file);

            $.ajax({
                type: "POST",
                url: '/Admin/FileUpload/',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                cache: false,
                success: function (response) {
                    var myhtml = '';
                    if (response.success) {

                        myhtml = '<div class="alert alert-success">' + response.responseMessage + '</div>';
                    }
                    else {
                        myhtml = '<div class="alert alert-danger">' + response.responseMessage + '</div>';
                    }
                    $("#myAlert").html(myhtml);
                    $("#myAlert").fadeIn(500).delay(3000).fadeOut(500);
                },
                error: function (error) {
                    $("#myAlert").html('<div class="alert alert-danger">' + error + '</div>');
                }
            });
        });
    });
</script>
<div style="background-color:azure">
<table class="table text-centered" style=" border-radius: 5px; width: 30%; margin: 0px auto; float: none;">
    <thead>
        <tr>
            <th style="color:blue" colspan="2"> EXCEL FILE UPLOAD </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.TextBox("fileID", "", new { type = "file" })
                @*<input type="file" name="file_Upload" id="fileID"/>*@ 
            </td>
            <td>
                <input type="submit" id="btnUpload" value="Upload File" class="btn btn-primary" />
            </td>

        </tr>
        <tr>
            <td colspan="2">
                <div style="background-color:aliceblue" id="myAlert">
                </div>
            </td>
        </tr>
    </tbody>
</table>
    </div>

